*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Poppins', sans-serif;
}
.header-color{
  width: 100%;
  height: 50px;
  background-color: #DAF1F6;
  text-align: center;
  padding-top: 0.7rem;
  color:#494F66 ;
}
.header-color small{
  font-size: medium;
}
.violet{
  color: #7000FE;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  padding: 2rem;
  background-color:#FFFFFF ;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.header .btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22rem;
  height: 3rem;
  padding: 1rem;
  border:transparent;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 1.5px 1px 2.5px 2.5px rgba(0,0,0,0.028);
  cursor: pointer;
}
.btn input{
  border: none;
}
.btn-svg{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 17rem;
}
.btn-list{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  list-style-type: none;
}
.header .btn-list .btn-list-item .btn-item{
  border: none;
  background-color: transparent;
}
.btn-item{
  font-size: large;
  cursor: pointer;
}
.btn-item :hover,
.btn-item :focus,
.btn-item :active{
 color: #7000FE;
}

.header-footer{
  width: 95%;
  height: 40px;
  margin-top: 1rem;
  background-color: #FFFFFF;
}
.header-footer-list{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-left: 7rem;
}
.header-footer-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.header-footer-list .home a,
.header-footer-list .home i{
  color: #7000FE;
}
.header-footer-list-item a{
  text-decoration: none;
  font-size: 15px;
  color: black;
}
.header-footer-list-item i{
  margin-left: 0.3rem;
  font-size: 12px;
  color: black;
}
.header-footer-list-item :hover,
.header-footer-list-item :focus,
.header-footer-list-item :active{
  color: #7000FE;
}
.fa-bars-staggered{
  display: none;
}
@media screen and ( max-width: 1024px ) {
  .header .fa-user,
  .header .fa-star,
  .header-footer{
    display: none;
  }
}
@media screen and ( max-width: 1024px ) {
  .header .btn{
    width: 2rem;
    visibility: hidden;
  }
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 650px;
  margin: 0;
  padding: 0;
  background-image: url(./img/Screenshot\ 2023-11-18\ alle\ 16.39.19.png);
  background-size: cover;
}
.content-title{
  font-size: 58px;
  margin-top: 10rem;
  margin-left: 19rem;
  margin-bottom: 1rem;
}
.content p{
  margin-left: 19rem;
  font-size: large;
}
.content .paragraph{
  margin-bottom: 2rem;
}
@media screen and (max-width: 1024px){
  .content .content-title,
  .content p{
    width: calc(100% - 8rem);
    margin-left: 8rem;
  }
  
}
@media screen and (max-width: 1024px){
  .content p{
    background-position: center;
    width: calc(100% - 8rem);
    margin-left: 8rem;
  }
  
}
@media screen and (max-width: 776px){
  .content{
    background-position: right;
  }
  
}
@media screen and (max-width: 992px){
  .content-title{
    font-size: 50px;
  }
  
}
@media screen and (max-width: 992px){
  .content p
  .content .paragraph{
    font-size: 20px;
    margin-left: 1rem;
  }
  
}
@media screen and (max-width: 776px){
  .content{
    background-position: right;
  }
  
}
@media screen and (max-width: 776px){
  .content p,
  .content .paragraph,
  .content-title{
    width: calc(100% - 8rem);
    margin-left: 8rem;
  }
  
}
@media screen and (max-width: 776px){
  .content-title{
    width: calc(100% - 8rem);
    margin-left: 8rem;
    font-size: 50px;
  }
  
}
@media screen and (max-width: 776px){
  .content .paragraph{
    width: calc(100% - 13rem);
    margin-left: 13rem;
  }
  
}
@media screen and (max-width: 776px){
  .content{
    opacity: 0.7;
  }
  
}
@media screen and (max-width: 680px){
  .content .content-title,
  .content p,
  .content .paragraph{
    width: calc(100% - 3rem);
    margin-left: 5rem;
    font-size: 18px;
  }
  
}
@media screen and (max-width: 680px){
  .content .content-title{
    width: calc(100% - 3rem);
    margin-left: 5rem;
    font-size: 50px;
  }
  
}
@media screen and (max-width: 680px){
  .content .paragraph{
    margin-left: 9rem;
  }
  
}
@media screen and (max-width: 548px){
  .content .content-title,
  .content p,
  .content .paragraph{
    width: calc(100% - 3rem);
    margin-left: 3rem;
    font-size: 18px;
  }
  
}
@media screen and (max-width: 548px){
  .content .content-title{
    width: calc(100% - 3rem);
    margin-left: 3rem;
    font-size: 50px;
  }
  
}
@media screen and (max-width: 548px){
  .content .paragraph{
    margin-left: 7rem;
  }
  
}
.btn-content{
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 3rem;
  border: transparent;
  border-radius: 40px;
  background-color: #7000FE;
  margin-left: 19rem;
  width: 11rem;
  color: white;
  font-size: medium;
}
.btn-content .fa-arrow-right{
  transform: rotate(-45deg);
}
.btn-content:hover .fa-arrow-right,
.btn-content:focus .fa-arrow-right,
.btn-content:active .fa-arrow-right{
  transform: rotate(0);
}
.btn-content:hover,
.btn-content:focus,
.btn-content:active{
  background-color: #000000;
  transition: background-color 1.3s;
}
@media screen and (max-width: 1024px){
  .content .btn-content{
    margin-left: 8rem;
    width: 11rem;
  }
}
@media screen and (max-width: 990px){
  .content .btn-content{
    width: 11rem;
    margin-right: 23rem;
  }
  
}
@media screen and (max-width: 776px){
  .content .btn-content{
    width: 11rem;
    margin-left: 15rem;
  }
  
}
@media screen and (max-width: 680px){
  .content .btn-content {
    margin-left: 11rem;
  }
  
}
@media screen and (max-width: 548px){
  .content .btn-content {
    margin-left: 10rem;
  }
  
}

.row{
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin-top: 1rem;
  padding-left: 1rem;
}
.list-item{
  margin-right: 5rem;
}
.row .list-item small{
  margin-left: 0.5rem;
}
@media screen and (max-width: 1177px){
  .list-item{
    margin-right: 2rem;
    width: calc( 100% - 2rem - 0.5rem );
  }
  
}
@media screen and (max-width: 1025px){
  .list-item,
  .truck{
    margin-right: 0.2rem;
    margin-left: 0;
  }
  
}
@media screen and (max-width: 992px){
  .list-item{
    margin-right: 0.2rem;
    width: calc( 100% - 0.2rem );
  }
  
}
.row-star{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.row-star-list{
  display: flex;
  list-style-type: none;
  gap: 0.8rem;
}
.fa-star{
  color:#00B67A ;
}
.opacity{
  color: #CCD6DF;
}
.box-container{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  width: calc( 100% / 3 - 2rem);
  height: 300px;
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
.box::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: url(./img/h4_banner1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: all 0.2s;
}
.box:hover::after{
  width: 120%;
}
.box h2,
.box-supersized h2,
.box-up h2{
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: white;
}
.btn-box{
  background-color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 2rem;
  color: black;
  font: bold;
}
.btn-box .btn-arrow{
  transform: rotate(-45deg);
  transition: all 0.2s;
}
.btn-box:hover .btn-arrow{
  transform: rotate(0);
}
.box-supersized{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  width: calc( 100% / 3 - 2rem);
  height: 300px;
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
.box-supersized::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: url(./img/h4_banner2.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: all 0.2s;
}
.box-supersized:hover::after{
  width: 110%;
}
.box-up{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  width: calc( 100% / 3 - 2rem);
  height: 300px;
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
.box-up::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: url(./img/h4_banner3.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: all 0.2s;
}
.box-up:hover::after{
  width: 110%;
}
.discover-title{
  text-align: center;
  vertical-align: center;
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.sub-list-title{
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  text-decoration: none;
}
.sub-list-title a{
  list-style-type: none;
  text-decoration: none;
  font-size: small;
  color: black;
}
.sub-list-title .violet{
  color: #7000FE;
}
.sub-list-title a:hover,
.sub-list-title a:active,
.sub-list-title a:focus{
  color: #7000FE;
}
