*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Poppins', sans-serif;
  background-color: #F5F7FA;
}
.header-color{
  width: 100%;
  height: 50px;
  background-color: #DAF1F6;
  text-align: center;
  padding-top: 0.7rem;
  color:#494F66 ;
}
.header-color small{
  font-size: medium;
}
.violet{
  color: #7000FE;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  padding: 2rem;
  background-color:#FFFFFF ;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.header .btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22rem;
  height: 3rem;
  padding: 1rem;
  border:transparent;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 1.5px 1px 2.5px 2.5px rgba(0,0,0,0.028);
  cursor: pointer;
}
.btn input{
  border: none;
}
.header .fa-bars{
  display: none;
}

.btn-svg{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 17rem;
}
.btn-list{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  list-style-type: none;
}
.header .btn-list .btn-list-item .btn-item{
  border: none;
  background-color: transparent;
}
.btn-item{
  font-size: large;
  cursor: pointer;
}
.btn-item :hover,
.btn-item :focus,
.btn-item :active{
 color: #7000FE;
}
.btn-item .fa-star{
  color: black;
}

.header-footer{
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
}
.header-footer-list{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.header-footer-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 1rem;
}
.header-footer-list .home a,
.header-footer-list .home i{
  color: #7000FE;
}
.header-footer-list-item a{
  text-decoration: none;
  font-size: 15px;
  color: black;
}
.header-footer-list-item i{
  margin-left: 0.3rem;
  font-size: 12px;
  color: black;
}
.header-footer-list-item :hover,
.header-footer-list-item :focus,
.header-footer-list-item :active{
  color: #7000FE;
}
.fa-bars-staggered{
  display: none;
}
@media screen and ( max-width: 1024px ) {
  .header .fa-user,
  .header .fa-star,
  .header-footer{
    display: none;
  }
}
@media screen and ( max-width: 1024px ) {
  .header .btn{
    width: 2rem;
    visibility: hidden;
  }
}
@media screen and ( max-width: 1024px) {
  .header .fa-bars{
    display: block;
  }
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 650px;
  margin: 0;
  padding: 0;
  background-image: url(./img/Screenshot\ 2023-11-18\ alle\ 16.39.19.png);
  background-size: cover;
}
.content-title{
  font-size: 58px;
  margin-top: 10rem;
  margin-left: 19rem;
  margin-bottom: 1rem;
}
.content p{
  margin-left: 19rem;
  font-size: large;
}
.content .paragraph{
  margin-bottom: 2rem;
}
@media screen and (max-width: 1024px){
  .content .content-title,
  .content p{
    width: calc(100% - 8rem);
    margin-left: 8rem;
  }
  
}
@media screen and (max-width: 1024px){
  .content p{
    background-position: center;
    width: calc(100% - 8rem);
    margin-left: 8rem;
  }
  
}
@media screen and (max-width: 776px){
  .content{
    background-position: right;
  }
  
}
@media screen and (max-width: 992px){
  .content-title{
    font-size: 50px;
  }
  
}
@media screen and (max-width: 992px){
  .content p
  .content .paragraph{
    font-size: 20px;
    margin-left: 1rem;
  }
  
}
@media screen and (max-width: 776px){
  .content{
    background-position: right;
  }
  
}
@media screen and (max-width: 776px){
  .content p,
  .content .paragraph,
  .content-title{
    width: calc(100% - 8rem);
    margin-left: 8rem;
  }
  
}
@media screen and (max-width: 776px){
  .content-title{
    width: calc(100% - 8rem);
    margin-left: 8rem;
    font-size: 50px;
  }
  
}
@media screen and (max-width: 776px){
  .content .paragraph{
    width: calc(100% - 13rem);
    margin-left: 13rem;
  }
  
}
@media screen and (max-width: 776px){
  .content{
    opacity: 0.7;
  }
  
}
@media screen and (max-width: 680px){
  .content .content-title,
  .content p,
  .content .paragraph{
    width: calc(100% - 3rem);
    margin-left: 5rem;
    font-size: 18px;
  }
  
}
@media screen and (max-width: 680px){
  .content .content-title{
    width: calc(100% - 3rem);
    margin-left: 5rem;
    font-size: 50px;
  }
  
}
@media screen and (max-width: 680px){
  .content .paragraph{
    margin-left: 9rem;
  }
  
}
@media screen and (max-width: 548px){
  .content .content-title,
  .content p,
  .content .paragraph{
    width: calc(100% - 3rem);
    margin-left: 3rem;
    font-size: 18px;
  }
  
}
@media screen and (max-width: 548px){
  .content .content-title{
    width: calc(100% - 3rem);
    margin-left: 3rem;
    font-size: 50px;
  }
  
}
@media screen and (max-width: 548px){
  .content .paragraph{
    margin-left: 7rem;
  }
  
}
.btn-content{
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 3rem;
  border: transparent;
  border-radius: 40px;
  background-color: #7000FE;
  margin-left: 19rem;
  width: 11rem;
  color: white;
  font-size: medium;
}
.btn-content .fa-arrow-right{
  transform: rotate(-45deg);
}
.btn-content:hover .fa-arrow-right,
.btn-content:focus .fa-arrow-right,
.btn-content:active .fa-arrow-right{
  transform: rotate(0);
}
.btn-content:hover,
.btn-content:focus,
.btn-content:active{
  background-color: #000000;
  transition: background-color 1.3s;
}
@media screen and (max-width: 1024px){
  .content .btn-content{
    margin-left: 8rem;
    width: 11rem;
  }
}
@media screen and (max-width: 990px){
  .content .btn-content{
    width: 11rem;
    margin-right: 23rem;
  }
  
}
@media screen and (max-width: 776px){
  .content .btn-content{
    width: 11rem;
    margin-left: 15rem;
  }
  
}
@media screen and (max-width: 680px){
  .content .btn-content {
    margin-left: 11rem;
  }
  
}
@media screen and (max-width: 548px){
  .content .btn-content {
    margin-left: 10rem;
  }
  
}

.row{
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin-top: 1rem;
  padding-left: 1rem;
}
.list-item{
  margin-right: 5rem;
}
.row .list-item small{
  margin-left: 0.5rem;
}
@media screen and (max-width: 1177px){
  .list-item{
    margin-right: 2rem;
    width: calc( 100% - 2rem - 0.5rem );
  }
  
}
@media screen and (max-width: 1025px){
  .list-item,
  .truck{
    margin-right: 0.2rem;
    margin-left: 0;
  }
  
}
@media screen and (max-width: 992px){
  .list-item{
    margin-right: 0.2rem;
    width: calc( 100% - 0.2rem );
  }
  
}
@media screen and (max-width: 600px){
  .row .truck{
    width: calc( 100% - 0.2rem );
  }
  
}
.row-star{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.row-star-list{
  display: flex;
  list-style-type: none;
  gap: 0.8rem;
}
.fa-star{
  color:#00B67A ;
}
.opacity{
  color: #CCD6DF;
}
.box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
.box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: calc( 100% / 3 - 2rem);
  height: 300px;
  padding: 2rem;
  margin-left: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}
.box::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: url(./img/h4_banner1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: all 0.2s;
}
.box:hover::after{
  width: 120%;
}
.box h2,
.box-supersized h2,
.box-up h2{
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: white;
}
.btn-box{
  background-color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 2rem;
  color: black;
  font: bold;
}
.btn-box .btn-arrow{
  transform: rotate(-45deg);
  transition: all 0.2s;
}
.btn-box:hover .btn-arrow{
  transform: rotate(0);
}
.box-supersized{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  width: calc( 100% / 3 - 2rem);
  height: 300px;
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
.box-supersized::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: url(./img/h4_banner2.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: all 0.2s;
}
.box-supersized:hover::after{
  width: 110%;
}
.box-up{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  width: calc( 100% / 3 - 2rem);
  height: 300px;
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
.box-up::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: url(./img/h4_banner3.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: all 0.2s;
}
.box-up:hover::after{
  width: 110%;
}
@media screen and ( max-width: 600px){
  .box,
  .box-supersized,
  .box-up{
    width: calc( 100% - 2rem );
  }  
}
.discover-title{
  text-align: center;
  vertical-align: center;
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.sub-list-title{
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  text-decoration: none;
}
.sub-list-title a{
  list-style-type: none;
  text-decoration: none;
  font-size: small;
  color: black;
}
.sub-list-title .violet{
  color: #7000FE;
}
.sub-list-title a:hover,
.sub-list-title a:active,
.sub-list-title a:focus{
  color: #7000FE;
}
.card-product{
  padding: 2rem;
  padding-left: 4rem;
  display: flex;
  justify-content: center;
  background-color: #F5F7FA;
  margin-top: 5rem;
}
.card-img-circle img{
  border-radius: 2rem;
}
.card{
  display: flex;align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card a{
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  color: black;
}
.card a:hover,
.card a:active,
.card a:focus{
  color: #7000FE;
}
.card .btn-card{
  margin-top: 1.5rem;
  border-radius: 20px;
  padding: 0.8rem 6.5rem;
  color: white;
  background-color: #000000;
  visibility: hidden;
}
.card:hover .btn-card{
  visibility: visible;
  background-color: #000000 ;
}
.circle i:hover .btn-card{
  visibility: visible;
  background-color: #000000;
}
.card .btn-card:hover{
  background-color: #7000FE;
}
.card-img-circle{
  display: flex;
  padding: 1rem;
  transition: all 0.2s;
}
.card-img-circle:hover{
  background-color: white;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.card-column-circle{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 1rem;
  right: 2rem;
}
.circle i{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
  padding-left: 9px;
  padding-top: 9px;
  margin-bottom: 0.5rem;
}
.circle{
  visibility: hidden;
}
.circle .fa-star{
  color: black;
}
.card-img-circle:hover .circle{
  visibility: visible;
}
.circle i:hover{
  background-color: #7000FE;
}
@media screen and ( max-width: 1168px ) {
  .card-img-circle .mouse{
    display: none;
  }  
}
@media screen and ( max-width: 1168px ) {
  .card-img-circle .phone img,
  .card-img-circle .badge img,
  .card-img-circle .sticker img{
    width: 280px;
    height: 280px;
  }  
}
@media screen and ( max-width: 992px ) {
  .card-img-circle .phone img,
  .card-img-circle .badge img,
  .card-img-circle .sticker img{
    width: 250px;
    height: 250px;
  }  
}
@media screen and ( max-width: 783px ) {
  .card-img-circle .sticker,
  .card-img-circle .mouse{
    display: none;
  }  
}
@media screen and ( max-width: 783px ) {
  .card-img-circle .phone img,
  .card-img-circle .badge img{
    width: 220px;
    height: 220px;
  }  
}
@media screen and ( max-width: 600px ) {
  .card-img-circle .phone img,
  .card-img-circle .badge img{
    width: 220px;
    height: 220px;
  }  
}
@media screen and ( max-width: 600px ) {
  .circle{
    top: 0;
    right: 2rem;
  }  
}
@media screen and ( max-width: 568px) {
  .card-img-circle .phone img,
  .card-img-circle .badge img{
    width: 180px;
    height: 180px;
  }  
}
@media screen and ( max-width: 480px ) {
  .card-img-circle .phone{
    display: none;
  }  
}
@media screen and ( max-width: 480px ) {
  .card-img-circle .badge{
    width: 100%;
  }  
}
.content-cloud{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #EDEEF1;
}
.content-img-cloud{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
@media screen and ( max-width: 1333px ){
  .content-img-cloud .img-large{
    width: 500px;
    height: 400px;
  }
}
@media screen and ( max-width: 1145px ){
  .content-img-cloud .img-large{
    width: 450px;
    height: 350px;
  }
}
@media screen and ( max-width: 1096px ){
  .content-img-cloud .img-large{
    width: 500px;
    height: 400px;
  }
}
@media screen and ( max-width: 783px ){
  .content-img-cloud .img-large{
    width: 600px;
    height: 500px;
  }
}
@media screen and ( max-width: 600px ){
  .content-img-cloud .img-large{
    width: 600px;
    height: 500px;
  }
}
@media screen and ( max-width: 930px ){
  .content-img-cloud .img-small{
    display: none;
  }
}
.content-text-cloud{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10rem;
}
.content-text-cloud h2{
  margin-top: 1rem;
  margin-bottom: 1.8rem;
  font-size: 45px;
  line-height: 50px;
}
@media screen and ( max-width: 1096px ){
  .content-text-cloud h2{
    font-size: 35px;
  }
}
@media screen and ( max-width: 1096px ){
  .content-text-cloud h2{
    font-size: 30px;
  }
}
@media screen and ( max-width: 929px ){
  .content-text-cloud h2{
    font-size: 25px;
  }
}
.num{
  font-size: 20px;
}
.circle-time{
  display: flex;
  flex-direction: column;
}
.circle-time-list{
  display: flex;
  gap: 3rem;
}
.circle-time-list .circle-time-list-item{
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: white;
  color: #000000;
  margin-top: 1.3rem;
}
.circle-time-list .circle-time-list-item small{
  padding-top: 7px;
  padding-left: 9px;
}
.circle-time-list .circle-time-list-item span{
  margin-top: 1.5rem;
}
.circle-time-list-item .btn-circle small{
  text-align: center;
  padding-bottom: 5px;
}
.circle-time-list-item .btn-circle{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.7rem;
  border: transparent;
  border-radius: 40px;
  background-color: #7000FE;
  margin-right: 21rem;
  margin-top: 3rem;
  width: 9rem;
  color: white;
  font-size: medium;
}
.btn-circle .fa-arrow-right{
  transform: rotate(-45deg);
}
.btn-circle:hover .fa-arrow-right,
.btn-circle:focus .fa-arrow-right,
.btn-circle:active .fa-arrow-right{
  transform: rotate(0);
}
.btn-circle:hover,
.btn-circle:focus,
.btn-circle:active{
  background-color: #000000;
  transition: background-color 1.3s;
}
.content-best-seller-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.content-best-seller h2{
  font-size: 50px;
  margin-top: 5rem;
}
.content-best-seller-title p{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
@media screen and ( max-width: 1400px ) {
  .content-best-seller h2{
    font-size: 40px;
    margin-top: 12rem;

  }
}
@media screen and ( max-width: 1200px ) {
  .content-best-seller h2{
    font-size: 30px;
    margin-top: 12rem;

  }
}
@media screen and ( max-width: 1200px ) {
  .content-best-seller p{
    font-size: 15px;

  }
}
@media screen and ( max-width: 1200px ) {
  .content-best-seller span{
    font-size: 15px;

  }
}
.dicover-row-container{
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.discover-row-img-wrapper{
  position: relative;
  overflow: hidden;
  width: 80%;
}
.discover-row-img-wrapper img{
  border-radius: 3rem;
  width: 100%;
}
.discover-row-number{
  position: absolute;
  top: 0;
  left: 2rem;
  z-index: 1;
  opacity: 0.5;
  color: #7000FE;
  font-size: 12rem;
}
.discover-row-column{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.discover-row-column-1 .discover-row-column-trianle{
  margin-top: 12rem;
  margin-right: 4rem;
}
.discover-row-column-1 .discover-row-img{
  width: 100%;
  padding: 10rem 0 0 7rem;
}